{% for acquisitionHistory in acquisition %}
    <div class="activity">
        <div class="activity-icon bg-primary text-white shadow-primary">
            <i class="fas fa-arrows-alt"></i>
        </div>
        <div class="activity-detail">
            <div class="mb-2">
                <span class="text-job">{{ acquisitionHistory.date }}</span>
                <span class="bullet"></span>
                <a class="text-job" href="#">{{ acquisitionHistory.acquisition_type }} Acquisition</a>
            </div>
            <p>VIA: {{ acquisitionHistory.connection_type }} | Status: {{ acquisitionHistory.status }}</p>
            Size: {{ acquisitionHistory.size }} GB
        </div>
    </div>
{% endfor %}