{% extends 'layouts/base.html' %}

{% block title %} Case {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% load static %}
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/select2/dist/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/selectric/public/selectric.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock stylesheets %}

{% block content %}
    <div class="section-header">
        <h1>Case</h1>
        <div class="section-header-breadcrumb">
          <div class="breadcrumb-item active"><a href="#">Case</a></div>
          <div class="breadcrumb-item">Case List</div>
        </div>
    </div>

    <div class="section-body">
        <h2 class="section-title">Case</h2>
        <p class="section-lead">New Case Form</p>

        <div class="row">

            <div class="col-12 col-md-3 col-lg-3">
            </div>

          <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
              <div class="card-body">

                  <div class="card-header">
                    <h4>Create Case</h4>
                  </div>
                  <div class="card-body">
                    <form class="form-row" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group col-md-12">
                          <label>Created by
                            {% load custom_filters %}
                            <input type="text" class="form-control-plaintext" readonly="" value="{{ user.user_name }} - {{ user.id|stringformat:"s"|split_string:"-"|last }}">
                          </label>
                        </div>
                      <div class="form-group col-md-6">
                        <label for="case_number">Case Number</label>
                        <input type="text" name="case_number" class="form-control" id="case_number" placeholder="Ex: 2024 - Case 01">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="case_name">Case Name</label>
                        <input type="text" name="case_name" class="form-control" id="case_name" placeholder="Ex: seized large scale">
                      </div>
                      <div class="form-group col-md-12">
                        <label for="description">Case Description</label>
                        <textarea type="text" name="description" class="form-control" id="description" placeholder="Some description.."></textarea>
                      </div>

                      <div class="form-group col-md-12">
                          <label for="case_member">Select or add user (Optional)</label>
                          <span class="d-inline-block" data-toggle="tooltip"
                            data-title="Other account can see this case after you create it">
                            <i class="fas fa-question-circle"></i>
                          </span>
                          <select name="case_member" id="case_member" class="form-control selectric" multiple="">
                            <option value="">Select...</option>
                              {% for case_user in home_user_list %}
                                  <option value="{{ case_user.id }}">{{ case_user.user_name }} - {{ case_user.user_email }}</option>
                              {% endfor %}
                          </select>
                      </div>

                      <div class="form-group col-md-12">
                       <div class="section-title mt-0">Is the case open?</div>
                        <div class="custom-control custom-checkbox">
                          <input name="case_is_open" type="checkbox" class="custom-control-input" id="case_is_open">
                          <label class="custom-control-label" for="case_is_open">Open</label>
                        </div>
                      </div>

                        <div class="card-header">
                            <h4>Additional Information (Optional)</h4>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="addinfo_name">Investigator Name</label>
                            <input type="text" name="addinfo_name" class="form-control" id="addinfo_name" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="addinfo_agency">Agency/Company</label>
                            <input type="text" name="addinfo_agency" class="form-control" id="addinfo_agency" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="addinfo_phone">Phone Number</label>
                            <input type="text" name="addinfo_phone" class="form-control" id="addinfo_phone" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="addinfo_fax">Fax</label>
                            <input type="text" name="addinfo_fax" class="form-control" id="addinfo_fax" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="addinfo_address">Address</label>
                            <input type="text" name="addinfo_address" class="form-control" id="addinfo_address" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="addinfo_email">Email</label>
                            <input type="text" name="addinfo_email" class="form-control" id="addinfo_email" placeholder="">
                        </div>
                        <div class="form-group col-md-12">
                        <label for="addinfo_notes">Notes</label>
                          <textarea type="text" name="addinfo_notes" class="form-control" id="addinfo_notes" placeholder="Some notes.."></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script><!-- JS Libraies -->
    <script src="{% static 'node_modules/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/js/page/modules-datatables.js' %}"></script>
    <script src="{% static 'node_modules/selectric/public/jquery.selectric.min.js' %}"></script>
    <script src="{% static 'assets/js/page/forms-advanced-forms.js' %}"></script>

{% endblock javascripts %}
