{% extends 'layouts/base.html' %}

{% block title %} Device {% endblock title %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'node_modules/ionicons201/css/ionicons.min.css' %}">
    <style>

      .card-logcat {
        width: 100%;
        height: 700px;
        background-color: #f8f9fa;
        border: 1px solid #e9ecef;
        border-radius: 4px;
        padding: 15px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
      }

      .card-logcat-content {
        max-height: calc(100% - 30px);
        overflow-y: auto;
      }

      .card-content-sizing {
        width: 100%;
        height: 700px;
        background-color: #f8f9fa;
        border: 1px solid #e9ecef;
        border-radius: 4px;
        padding: 15px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
      }

      .card-content-sizing-history {
        width: 100%;
        height: 600px;
        {#background-color: #f8f9fa;#}
        border: 1px solid #e9ecef;
        border-radius: 4px;
        padding: 15px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
      }

      .card-content {
        max-height: calc(100% - 30px);
        overflow-y: auto;
      }
    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="section-header">
        <h1>
            Device [BETA]
        </h1>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="showBridge">
        </div>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Lab</a></div>
            <div class="breadcrumb-item">Device</div>
        </div>
    </div>

    <div class="section-body">

        <div class="wizard-steps">

            <div class="wizard-step wizard-step-active">
                <div class="wizard-step-icon">
                    <i class="ion ion-search"></i>
                </div>
                <div class="wizard-step-label">
                    Finding Device
                </div>
            </div>

            <div class="wizard-step wizard-step-active">
                <div class="wizard-step-icon">
                    <i class="ion ion-code-working"></i>
                </div>
                <div class="wizard-step-label">
                    Initializing
                </div>
            </div>

            <div id="connected-step" class="wizard-step wizard-step">
                <div class="wizard-step-icon">
                    <div id="is-loading">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div id="is-missing-device">
                        <!-- Device status goes here -->
                    </div>
                </div>
                <div id="status-device" class="wizard-step-label">
                    <!-- Status goes here -->
                </div>
          </div>

        </div>

        <div id="grid" class="row">
            <!-- Placeholder for the dynamic content -->
        </div>

    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="{% static 'assets/js/page/modules-ion-icons.js' %}"></script>
    <script>
        function getCurrentDateTime() {
          const now = new Date();
          const year = now.getFullYear();
          const month = (now.getMonth() + 1).toString().padStart(2, '0');
          const day = now.getDate().toString().padStart(2, '0');
          const hours = now.getHours().toString().padStart(2, '0');
          const minutes = now.getMinutes().toString().padStart(2, '0');
          const seconds = now.getSeconds().toString().padStart(2, '0');

          return `${year}-${month}-${day}_${hours}-${minutes}-${seconds}`;
        }
    </script>
    <script>
    $(function () {
    const loadPartialContent = (deviceID) => {
        $.ajax({
            url: `/device/api/detail/{{ deviceID }}`,
            type: 'GET',
            success: function (html) {
                $("#grid").html(html);

                // Update the connection status UI
                $("#connected-step").addClass("wizard-step-success");
                $("#is-loading").html("");
                $("#is-missing-device").html(`<i class="fab fa-get-pocket"></i>`);
                $("#status-device").html("Connected");

                },
            error: (error) =>{
                console.error("Error loading device details:", error);
            }, statusCode:{
                404: function () {
                    $('#is-loading').html(``);
                    $('#connected-step').addClass('wizard-step-danger');
                    $('#is-missing-device').html(`<i class="fa fa-times"></i><br><br>`)
                    $('#status-device').html('DEVICE NOT FOUND');
                    $('#showBridge').html(`<span class="d-inline-block" data-toggle="tooltip" data-title="There's no device is connected">
                    <button class="btn btn-outline-secondary pe-none" type="button" disabled>No Device</button></span>`)
                    $('[data-toggle="tooltip"]').tooltip(); // Initialize the tooltip for the new element
                }
            },
        });
    };

    // Call the function to load the partial content
    loadPartialContent("{{ deviceID }}");
  });

  </script>
{% endblock javascripts %}
