{% extends 'layouts/base-auth.html' %}

{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% load static %}
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}">
{% endblock stylesheets %}

{% block content %}
    <section class="section">
      <div class="d-flex flex-wrap align-items-stretch">
        <div class="col-lg-4 col-md-6 col-12 order-lg-1 min-vh-100 order-2 bg-white">
          <div class="p-4 m-3">
            <img src="{% static 'assets/img/CAF.png' %}" alt="logo" width="80" class="shadow-light rounded-circle mb-5 mt-2">
            <h4 class="text-dark font-weight-normal">Welcome to <span class="font-weight-bold">CAF</span></h4>
            <p class="text-muted">Before you get started, you must login or register if you don't already have an account.</p>
            <form method="POST" class="needs-validation" novalidate="">
                {% csrf_token %}
              <div class="form-group">
                <label for="user_email">Email</label>
                {{ form.user_email }}
                <div class="invalid-feedback">
                  Please fill in your email
                </div>
              </div>

              <div class="form-group">
                <div class="d-block">
                  <label for="password" class="control-label">Password</label>
                </div>
                {{ form.password }}
                <div class="invalid-feedback">
                  please fill in your password
                </div>
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="remember_me" class="custom-control-input" tabindex="3" id="remember-me">
                  <label class="custom-control-label" for="remember-me">Remember Me</label>
                </div>
              </div>

              <div class="form-group text-right">
                <a href="auth-forgot-password.html" class="float-left mt-3">
                  Forgot Password?
                </a>
                <button type="submit" class="btn btn-primary btn-lg btn-icon icon-right" tabindex="4">
                  Login
                </button>
              </div>

              <div class="mt-5 text-center">
                Don't have an account? <a href="{% url 'caf_register' %}">Create new one</a>
              </div>
            </form>

            <div class="text-center mt-5 text-small">
              Copyright &copy; FATechID. Made with 💙 by Stisla
            </div>
            <div class="text-center mt-5">
                <p class="lead mt-4">
                  {% if messages  %}
                      {% for message in messages %}
                          {{ message }}
                      {% endfor %}
                  {% endif %}
                </p>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-12 order-lg-2 order-1 min-vh-100 background-walk-y position-relative overlay-gradient-bottom" data-background="{% static 'assets/img/unsplash/login-bg2.jpg' %}">
          <div class="absolute-bottom-left index-2">
            <div class="text-light p-5 pb-2">
              <div class="mb-5 pb-3">
                <h1 class="mb-2 display-4 font-weight-bold">Hello..</h1>
                <h5 class="font-weight-normal text-muted-transparent">Bandung, Indonesia</h5>
              </div>
              Photo by <a class="text-light bb" target="_blank" href="https://blog.fatechid.com">Mayer Reflino</a>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <!-- JS Libraies -->
    <script src="{% static 'node_modules/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/js/page/modules-datatables.js' %}"></script>
{% endblock javascripts %}
