{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% load static %}
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'node_modules/bootstrap-social/bootstrap-social.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/summernote/dist/summernote-bs4.css' %}">
{% endblock stylesheets %}

{% block content %}
   <div class="section-header">
        <h1>Profile</h1>
        <div class="section-header-breadcrumb">
          <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
          <div class="breadcrumb-item">Profile</div>
        </div>
      </div>
      <div class="section-body">
        <h2 class="section-title">Hi, {{ user.get_short_name }}!</h2>
        <p class="section-lead">
          Change information about yourself on this page.
        </p>

        <div class="row mt-sm-4">
          <div class="col-12">
            <div class="card">
                <div class="card profile-widget">
                  <div class="profile-widget-header">
                    <img alt="image" src="{% static 'assets/img/avatar/avatar-1.png' %}" class="rounded-circle profile-widget-picture">
                    <div class="profile-widget-items">
                      <div class="profile-widget-item">
                        <div class="profile-widget-item-label">Case</div>
                        <div class="profile-widget-item-value">{{ getCaseByUser }}</div>
                      </div>
                      <div class="profile-widget-item">
                        <div class="profile-widget-item-label">Evidence</div>
                        <div class="profile-widget-item-value">{{ getEvidenceByUser }}</div>
                      </div>
                      <div class="profile-widget-item">
                        <div class="profile-widget-item-label">Reporting</div>
                        <div class="profile-widget-item-value">[SOON]</div>
                      </div>
                    </div>
                  </div>
                  <div class="profile-widget-description">
                    <div class="profile-widget-name">{{ user.user_name }} <div class="text-muted d-inline font-weight-normal"><div class="slash"></div> Lab Technician</div></div>
                  </div>
                </div>
              <form method="post" class="needs-validation" novalidate="">
                <div class="card-header">
                  <h4>Edit Profile</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                      <div class="form-group col-md-3 col-12">
                        <label>Name</label>
                        <input type="text" class="form-control" value="{{ user.user_name }}" required="">
                        <div class="invalid-feedback">
                          Please fill in the first name
                        </div>
                      </div>
                      <div class="form-group col-md-3 col-12">
                        <label>Email</label>
                        <input type="email" class="form-control" value="{{ user.user_email}}" disabled>
                        <div class="invalid-feedback">
                          Please fill in the last name
                        </div>
                      </div>
                    <div class="form-group col-md-3 col-12">
                        <label>Phone</label>
                        <input type="tel" class="form-control" value="">
                      </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                  <button class="btn btn-primary">Save Changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <!-- JS Libraies -->
    <script src="{% static 'node_modules/summernote/dist/summernote-bs4.js' %}"></script>
{% endblock javascripts %}
